body {
    margin: 0px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    background: #910505;
    border: none;
    padding: 8px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:active {
    background: #5e0303;
}

main {
    height: 600px;
    overflow: hidden;
    margin: 0px;
    background: rgb(170, 170, 170);
}

/* main navigation menu */
.nav-header-main {
    background: rgb(58, 58, 58);
}

.nav-header-main ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.nav-header-main li {
    float: left;
}

.nav-header-main a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px 20px;
}

.nav-header-main a:hover {
    background-color: black;
}

.nav-header-main div {
    float: right;
    margin: 0px;
}

.nav-header-main input {
    margin: 0px 10px;
    font-size: 12px;
    border-radius: 10px;
    border: none;
    padding: 3px;
    background: rgb(206, 206, 206);
}

.nav-header-main button {
    margin-top: 12px;
    margin-right: 10px;
}

/* main section */
.main-section {
    overflow: hidden;
    max-width: 800px;
    background: rgb(187, 187, 187);
    margin: auto;
    margin-top: 30px;
}

.main-section p {
    text-align: center;
}

/* signup section */
.signup-section {
    overflow: hidden;
    max-width: 800px;
    background: rgb(187, 187, 187);
    margin: auto;
    margin-top: 30px;
}

.signup-section h1 {
    text-align: center;
}

.signup-section input {
    display: block;
    border: none;
    border-radius: 10px;
    margin: 10px auto;
    margin-bottom: 0px;
    font-size: 20px;
    padding: 3px 10px;
}

.signup-section button {
    display: block;
    margin: 10px auto;
    padding: 8px 20px;
}

.signup-section div {
    text-align: center;
    color: red;
    height: 20px;
}